torch==2.5.1+cu124
diffusers==0.15.0
transformers==4.46.2
safetensors==0.4.5
matplotlib==3.9.2
pillow==10.4.0
filelock
typing-extensions>=4.8.0
networkx
jinja2
sympy==1.13.1
mpmath<1.4,>=1.1.0
huggingface-hub>=0.13.2
importlib-metadata
numpy
regex!=2019.12.17
requests
packaging>=20.0
pyyaml>=5.1
tokenizers<0.21,>=0.20
tqdm>=4.27
contourpy>=1.0.1
cycler>=0.10
fonttools>=4.22.0
